<?xml version="1.0"?>
<!--
    /**
    * checkout.com-magento2-plugin
    *
    * This Magento 2 extension enables to process payments with Checkout.com (https://api.sandbox.checkout.com/payment).
    *
    * @package checkout.com-magento2-plugin
    * @author Rajesh Kumar (https://github.com/rajeshwws/)
    *
    */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
        <section id="payment">
        	<group id="ckotest" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
        		<label>CKOtest</label>
        		<field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="public_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public Key</label>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
        	</group>
        </section>
    </system>
</config>
